@import "tailwindcss";

@theme{
  --font-display: "Roboto", "sans-serif";
  --color-avocado-100: oklch(0.99 0 0);
}

@layer utilities {
  .grid-30-70 {
    display: grid;
    grid-template-columns: 30% 70%;
  }
  .col-span-30 {
    grid-column: 1 / 2;
  }
  .col-span-70 {
    grid-column: 2 / 3;
  }
}